.messageForm {
  background-color: var(--third-bg-color);
  height: 68px;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.textarea {
  width: 80%;
  background-color: #393a41;
  border: 1px solid #666768;
  color: white;
}

.sendBtn {
  background-color: transparent;
  border: none;
  width: 44px;
  height: 44px;
  display: flex;
  transition: all 0.2s ease;
  color: #999aa1;
}

.sendBtn:hover {
  transform: scale(1.15);
}
