@font-face {
  font-family: 'gg sans';
  src: url('@/shared/assets/fonts/gg_sans_Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'gg sans';
  src: url('@/shared/assets/fonts/gg_sans_Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'gg sans';
  src: url('@/shared/assets/fonts/gg_sans_Semibold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'gg sans';
  src: url('@/shared/assets/fonts/gg_sans_Bold.woff2') format('woff2');
  font-weight: 700;
}
